<div class="container">

{{!--   <form action="/tasks" method="POST" class="col s12">
 --}}
    <ul class="collection with-header">
      <li class="collection-header">
        <h5>{{user.firstName}} {{user.lastName}}</h5>


      </li>
      {{#each tasks}}
      <li class="collection-item" >
        <div >
          {{body}}

          <form action="/tasks/{{id}}?_method=DELETE" method="POST" class="s12" id="form-item">
            <input type="hidden" name="_method" value="DELETE">
            <a href="#" class="secondary-content" onclick="$(this).closest('form').submit()">
              <i class="fas fa-trash-alt"></i>
            </a>
          
          </form>


          <a href="/tasks/{{id}}" class="secondary-content">
            <i class="fas fa-pencil-alt"></i>
          </a>
          <a href="#" class="secondary-content">
          </a>
          <br>

          <snap class="date"> {{formatDate date 'minute'}}</snap>


        </div>


      </li>
      {{else}}
      <p>no tasks added yet</p>

      {{/each}} 

    </ul>



    
  <form action="/tasks/add" method="POST" class="col s12">
    
    <div class="row">
      <div class="input-field col s6">
          <input id="input_text" type="text" data-length="20" name="body">
          <label for="input_text">Input text</label>
          <input type="submit" value="Save" onclick="M.toast({html: 'I am a toast'})" class="btn-small">
        </div>

      </form>
    </div>


  



</div>