<div class="row">


{{!-- 
{{#group tasks by="user"}}
    <h1>{{ value.firstName }}</h1>
 
    {{#each items}}
        <p>{{ body }}</p>
 
    {{/each}}
{{/group}} --}}


{{#group tasks by="user"}}

  <div class="col s12 m6">
    <div class="card">
      <ul class="collection with-header">

        <li class="collection-header green lighten-4">
          <div class="chip center-align">
            <img src="{{value.image}}"> {{value.firstName}} {{value.lastName}}
          </div>
          <div class="">
            {{#if value}}
              {{{editIcon value.id ../user.id}}}

            {{/if}}
            {{!-- <a href="/tasks" class="btn-floating btn-small  waves-effect waves-light teal edit-btn">
              <i class="fas fa-pencil-alt"></i>
            </a> --}}
          </div>
        </li>
        {{#each items}}
        <li class="collection-item">
          <div>
            {{body}}
          </div>
        </li>
        {{else}}
        <p>no tasks added yet</p>

        {{/each}}
    </div>
  </div>
 

{{/group}}







</div>